<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mehdi Yanat | Projects</title>
    <meta name="description" content="Yanat Mehdi is FullStack developer you can see his portfolio and projects"  />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
  <script type="text/javascript">
    (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
    for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
    MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);

// Enabling the debug mode flag is useful during implementation,
// but it's recommended you remove it for production
    mixpanel.init('b12bdad6661aa7f2b3daf41c009ae4dd', {debug: true}); 
    mixpanel.track('Projects page');
  </script>
</head>
<body>
  <div class="loading-wrapper">
        
    <div class="lettre">L</div>
    <div class="lettre">O</div>
    <div class="lettre">A</div>
    <div class="lettre">D</div>
    <div class="lettre">I</div>
    <div class="lettre">N</div>
    <div class="lettre">G</div>
  </div>

<section class="container-fluid custom-class w-100 h-100  ">

    <div  class="container d-flex justify-content-between align-items-center custom-class2 w-100">
        <div data-aos="fade-down" class="navbar navbar-expand-sm  ">
          <a href="/" class="navbar-brand cursor "> <img class="logo" width="200"  src="/img/logo.png" alt=""> </a>
        </div>

          <div data-aos="fade-down" class="btn-custom ">
              <div class="btn-bar1"></div>
              <div class="btn-bar2"></div>
              <div class="btn-bar3"></div>
          </div>

          <div class="container-custom" >
            <ul class=" custom-class3 Menu">
              <li id="li1"> <a  href="/About"> About</a> </li>
              <li id="li2"> <a  href="/Projects"> Projects</a> </li>
              <li id="li4"> <a  href="/Contact"> Contact</a> </li>
              <div id="li3" class="toggle-light">
                  <audio id="audio" src="/sound Effect/yt5s.com - Click button (16 sound effects) (128 kbps) (1) (1).mp3"></audio>
              </div>
            </ul>
        </div>
        
      </div>
      <section class="container  w-100 h-100 dis-grid-all">
              <h2  data-aos="fade-up" >Projects</h2>

              <div class="dis-grid  ">
                <div class=" grid  ">

                       <div data-aos="fade-up" class="allbox box1">
                    <div class="projects-image  ">
                      <img class="img-responsive w-100"   src="/projects-img/hablamos.png" alt="">
                      <div class="overlay">
                        <div class="link">
                          <a target="_blank" href="https://hablamos.tk/">View</a>
                        </div>
                        <div class="Github">
                          <a target="_blank" href="https://github.com/Mehdi-Yanat/hablamos-desktop">Github</a>
                        </div>
                        <div class="infoForProject">
                            <div class="frontend">
                                Front-END
                                <div class="tech">
                                  <div class="front-tech">
                                    <h1>
                                      REACT
                                    </h1>
                                    <i class="fab fa-react"></i>
                                  </div>
                                </div>
                            </div>
                            <div class="backend">
                                Back-END
                                  <div class="tech">
                                  <div class="front-tech">
                                     <div>
                                       <h1>
                                      NODE JS
                                        </h1>
                                    <i class="fab fa-node"></i>
                                     </div>
                                     <div>
                                       <h1>
                                      EXPRESS JS
                                        </h1>
                                    <i class="fab fa-node"></i>
                                     </div>
                                     <div>
                                       <h1>
                                      SOCKET.IO
                                        </h1>
                                    <i class="fab fa-rocketchat"></i>
                                     </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                 
                </div>


                    <div data-aos="fade-up" class="allbox box1">
                    <div class="projects-image  ">
                      <img class="img-responsive w-100"   src="/projects-img/CHATWYS.png" alt="">
                      <div class="overlay">
                        <div class="link">
                          <a target="_blank" href="https://chatwys-5b149.web.app/">View</a>
                        </div>
                        <div class="Github">
                          <a target="_blank" href="https://github.com/Mehdi-Yanat/CHATWYS-front-end">Github</a>
                        </div>
                        <div class="infoForProject">
                            <div class="frontend">
                                Front-END
                                <div class="tech">
                                  <div class="front-tech">
                                    <h1>
                                      REACT
                                    </h1>
                                    <i class="fab fa-react"></i>
                                  </div>
                                </div>
                            </div>
                            <div class="backend">
                                Back-END
                                  <div class="tech">
                                  <div class="front-tech">
                                     <div>
                                       <h1>
                                      NODE JS
                                        </h1>
                                    <i class="fab fa-node"></i>
                                     </div>
                                     <div>
                                       <h1>
                                      EXPRESS JS
                                        </h1>
                                    <i class="fab fa-node"></i>
                                     </div>
                                     <div>
                                       <h1>
                                      SOCKET.IO
                                        </h1>
                                    <i class="fab fa-rocketchat"></i>
                                     </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                 
                </div>
               
                <div class=" grid">
                  <div data-aos="fade-up" class="allbox box2">
                    <div class="projects-image ">
                      <img class="img-responsive"   src="/projects-img/food..JPG" alt="">
                      <div class="overlay">
                        <div class="link">
                          <a target="_blank" href="https://objective-poitras-bce3a2.netlify.app/">View</a>
                        </div>
                        <div class="Github">
                          <a target="_blank" href="https://github.com/Mehdi-Yanat/Food.">Github</a>
                        </div>
                          <div class="infoForProject">
                            <div class="frontend">
                                Front-END
                                <div class="tech">
                                  <div class="front-tech">
                                      <div>
                                      <h1>
                                      HTML
                                      </h1>
                                      <i class="fab fa-html5"></i>
                                      </div>
                                        <div>
                                      <h1>
                                      SASS
                                      </h1>
                                      <i class="fab fa-sass"></i>
                                      </div>
                                        <div>
                                      <h1>
                                      JAVASCRIPT
                                      </h1>
                                      <i class="fab fa-js"></i>
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="backend">
                               No Back-END  
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid">
                  <div data-aos="fade-up" class="allbox box3">
                    <div class="projects-image border">
                      <img class="img-responsive"   src="/projects-img/up.JPG" alt="">
                      <div class="overlay">
                        <div class="link">
                          <a target="_blank" href="https://elated-swirles-90619d.netlify.app/">View</a>
                        </div>
                        <div class="Github">
                          <a target="_blank" href="https://github.com/Mehdi-Yanat/UP-SOCIAL">GitHub</a>
                        </div>
                            <div class="infoForProject">
                            <div class="frontend">
                                Front-END
                                <div class="tech">
                                  <div class="front-tech">
                                      <div>
                                      <h1>
                                      HTML
                                      </h1>
                                      <i class="fab fa-html5"></i>
                                      </div>
                                        <div>
                                      <h1>
                                      SASS
                                      </h1>
                                      <i class="fab fa-sass"></i>
                                      </div>
                                        <div>
                                      <h1>
                                      JAVASCRIPT
                                      </h1>
                                      <i class="fab fa-js"></i>
                                      </div>
                                  </div>
                                </div>
                            </div>
                            <div class="backend">
                               No Back-END  
                            </div>
                        </div>
                      </div>
                    </div>
                  
                </div>
                </div>
              
                  
              </div>
            
      </section>

</section>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="./js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
